<h1>Dashboard</h1>

<ul>
  <% @categories.each do |category| %>
    <li>
      <h2><%= "#{category.title}" %></h2>
      <ul>
        <% topics = category.topics.where(user_id: @current_user.id).order(updated_at: :desc).limit(3) %>
        <% topics.each do |topic| %>
          <li>
            <a href="<%= topic_path(topic) %>"><%= topic.title %></a>
          </li>
        <% end %>
      </ul>
      <a href="<%= category_path(category) %>">View</a>

    </li>
  <% end %>
</ul>
